.pup_request{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center ;
  border: 1px rgb(5, 170, 5) solid;
  padding-left: 5px;
}

.pup_request h5{
  margin-right: 10px;
}

.pup_request p{
  font-size: smaller;
  width: 150px;
}

.pup:hover{
  background-color: rgb(5, 170, 5);
  border: 3px black solid
}

